body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    margin: 0;
    padding: 0;
  }

  #header {
    background-color: #4dd4a4;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #userProfileIcon {
    font-size: 24px;
    cursor: pointer;
  }

  #sidebar {
    height: 100vh;
    background-color: #000000;
    color: #fff;
    width: 200px;
    position: fixed;
    transition: width 0.3s;
  }

  #sidebar.collapsed {
    width: 70px;
  }

  #sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
  }

  #sidebar a:hover {
    background-color: #495057;
  }

  #content {
    margin-left: 250px;
    padding: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  #profileBtn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .profile-dropdown {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    transition: display 0.3s;
    z-index: 1; /* Add this line */
  }
  
  .profile-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  .profile-dropdown a:hover {
    background-color: #f5f5f5;
  }
  #content {
    margin-left: 250px;
    padding: 20px;
  }
  /* Responsive Hamburger Menu */
  .navbar-toggler {
    border: none;
    background-color: transparent;
  }
  .navbar-toggler:focus {
    outline: none;
  }